hr {
  border: 1px black solid;
  width: 100%;
  margin: 1rem 0px;
}

h2 {
  margin: 0px;
}

.invisible {
  visibility: hidden;
}

.input {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 1rem 2rem;
  width: 20dvw;
  margin: 0px auto;
}

.elem {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 40vw;
}

.elem > h1 {
  font-size: 20px;
  width: 50%;
  margin: 0px;
}

.elem > p {
  margin: 0px;
}

.elem ~ .elem {
  border-top: 0px;
}

.user_input > * {
  display: block;
  width: 100%;
}

.user_input > input {
  padding: 0.3rem;
}

.input > button[type="submit"] {
  align-self: center;
  padding: 0.2rem 1rem;
}

.input > div.priority {
  width: 25%;
  justify-content: space-between;
  display: flex;
}

.input p.error {
  font-size: 13px;
  color: red;
  margin-top: 3px;
}

.generate {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.generate > button {
  padding: 0.5rem 1rem;
  font-size: 17px;
}

.results {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
}

.results > .date {
  text-align: center;
  font-weight: bold;
}

div.result {
  display: flex;
  flex-flow: row;
  border: 1px solid black;
}

div.result ~ div.result {
  border-top: none;
}

.result > .number {
  padding: 0px 10px;
}

.result > .title {
  flex-grow: 1;
}

.result > .range {
  padding: 0px 15px;
}

#inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
