html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Arial", "Verdana";
}

body {
  background: linear-gradient(90deg, #3b82f6, #272eb6);
}

h1 {
  color: #1e3a8a;
  background-color: #ffffff;
  margin-top: 0px;
  padding: 14px;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.task {
  width: 50vw;
  margin: 0px auto;
}

.input {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 24px;
}

.user_input {
  display: flex;
  flex-direction: column;
}

.user_input div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 8px;
}

.user_input div ~ label {
  margin-top: 20px;
}

.user_input div div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  column-gap: auto;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}

.user_input input,
.user_input select {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 7px 15px;
  background-color: #ffffff;
}

.user_input input[type="text"] {
  flex-grow: 3;
}

.user_input input[type="number"] {
  flex-grow: 2;
  padding: 7px 10px;
}

.error {
  color: #f6585b;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

button[type="submit"] {
  width: 80%;
  border-radius: 6px;
  border: none;
  background: linear-gradient(90deg, #3b82f6, #272eb6);
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin: 0px auto;
  padding: 5px;
}

button[type="submit"]:hover {
  cursor: pointer;
}

.elements {
  width: 40vw;
  margin: 0px auto;
}

.elem {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.elem h1 {
  width: 60%;
  margin: auto 0px;
  padding: 0px;
  font-size: medium;
  color: #000000;
}

.elem p {
  padding: 0px;
  margin: auto 0px;
  color: #6b7280;
}

.elem a > i {
  color: #f6585b;
  cursor: pointer;
}

.generate {
  background-color: #ffffff;
  padding: 10px;
  width: 30vw;
  border-radius: 5px;
  margin: 0px auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.generate > form > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.generate input {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 7px 15px;
}

.generate button {
  margin: 0px auto;
  margin-top: 20px;
  color: #ffffff;
  background: linear-gradient(90deg, #3b82f6, #272eb6);
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
}

.generate button:disabled {
  color: #e3e3e3;
  cursor: not-allowed;
}
